body {
    background-color: orange ;
  }

h1{
	text-align: center;
}


table {
	border-collapse: collapse; 
	border: 3px solid black; 
	min-width: 445px; 
}

colgroup, tbody { 
	border: 2px solid black; 
}

td { 
	border: 1px solid black;  
	text-align: center; 
	padding: 0; 
	width: 3em;
	height: 3em;
}
 
input[type="text"]{
    text-align: center;
    box-sizing: border-box;
    border: 0px;
    width: 100%;
	height: 100%;
    font-size: 200%;
    padding: 0;
}

#Funzioni{
	text-align: center;
	margin: 1em;
}


@media screen and (max-width: 800px) {
  	body {
    	background-color: yellow ;
  	}

  	td{
		width: 2.2em;
		height: 2.2em;
	}

	table{
		min-width: 229px;
	}

	input[type="text"]{
		font-size: 130%;
	}
}